{% extends 'base.html' %}

{% block title %}Tutorialism{% endblock %}

{% block content %}

    <div class="home-text">
        <h5 class="text text-center">درود وقتت بخیر، این ریپازیتوری هردفعه هی آپدیت میشه ولی خب منتظر ی چیز خفن داخل بخش فرانت نباش چون من داخل فرانت 
            و کلا طراحی خوب نیستم و اینی که میبینی حاصل وجود بوت‌استرپ هست.
            کار من بک‌اند هست و هردفعه هم قراره بک‌اند آپدیت بشه.
        </h5>
        <br>
        <h4 class="text text-center">
            راستییییییی، اگر داری این متن ها را میخونی یعنی پروژه را کلون کردی از گیت‌هاب من، خب ی استار هم بزار دیگه اشکالی نداره که، 
            تازهههههههه میتونی دونیت هم بکنی، از راه های مختلف.
        </h4>
        <hr>
        <p>سوالی هم داشتی ایمیل بزن، ایمیل هم داخل اکانت گیت‌هاب گذاشتم, 
            <span style="color: #3f3e3e;">سعی کن عنوان ایمیل با `توتوریالیسم` شروع بشه :)</span>
        </p>
    </div>

{% endblock %}
