{% extends 'base.html' %}

{% block title %}ورود به حساب کاربری{% endblock %}

{% block style %}
<style>
    body{
        background-color: #d3cfcd;
    }
</style>
{% endblock %}

{% block content %}

    <div class="authentication">
        <h3>ورود به حساب کاربری</h3>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <span>شماره همراه:</span><br>{{ form.login_phone }}
            <br>
            <span>رمز عبور</span><br>{{ form.login_password }}
            <input type="submit" value="ورود" class="btn">
        </form>
        <div class="pass-link">
            <a href="#" >Lost your password?</a>
        </div>
    </div>

{% endblock %}
