{% extends 'base.html' %}
{% load humanize %}

{% block title %} لیست دوره ها {% endblock title %}

{% block content %}

    <div class="row">
        {% for course in courses %}
        <div class="col-sm-3 col-lg-3">
            <div class="card" style="height: 100%; width: 90%;">
                <!-- <img src="{{ course.banner.url }}" class="card-img-top" alt="..." height="90%" width="90%"> -->
                <div class="card-body">
                    <h5 class="card-title text-center">{{ course.title }}</h5>
                    <p class="card-text card-detail">{{ course.teacher }}</p>
                    {% if course.price == 0 %}
                        <p class="card-text card-detail">رایگان</p>
                    {% else %}
                        {% if course.discount %}
                            <p class="card-text card-detail">{{ course.dicount_price|intcomma:False }}</p>
                        {% else %}
                            <p class="card-text card-detail">{{ course.price|intcomma:False }}</p>
                        {% endif %}
                    {% endif %}
                    <a href="{{ course.get_absolute_url }}" class="btn btn-primary btn-detail">جزئیات بیشتر</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
